html{moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb{background-color:rgba(25, 25, 25,.4);-webkit-border-radius:8px;border: 2px solid #fff;cursor: pointer;}
/*---鼠标点击滚动条显示样式--*/  
::-webkit-scrollbar-thumb:hover{  background-color:rgba(25, 25, 25,.4);-webkit-border-radius:8px;}
/*---滚动条大小--*/  
::-webkit-scrollbar{width:10px;height:10px;}
/*---滚动框背景样式--*/  
::-webkit-scrollbar-track-piece{-webkit-border-radius:8px;}
.table>thead>tr>th {vertical-align: middle !important;border:solid 1px #ddd !important;padding: 6px !important;}
.table>tbody>tr>td {vertical-align: middle !important;border:solid 1px #ddd !important;padding: 6px !important;}
.month_list{width: auto;height: 37px;line-height: 37px;margin-left: 15px;margin-top: -7px;}
.month_list > .month_items_list{float: left;}
.month_list > .month_tools{float: left;}
.month_list > .month_tools > .month_tool_btn{float: left;height: 34px;width: 45px;border: solid 1px #cecece;margin-right: 3px;text-align: center;line-height: 34px;cursor: pointer;}

.bg_ain,.bg_nin,.bg_aout,.bg_nout{background: rgba(255,165,0,0.6);}
.bg_x{background: rgba(255, 0, 0, 0.7);}